.form {
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  max-width: 360px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e1eefb;
}
.form_label {
  padding: 10px;
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_input_text {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}
.form_input_text:focus, .form_input_select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.form_input_select {
  width: 156px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}

.field_card {
  max-width: 1160px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e1eefb;
  border-radius: 10px;
}
.card_img {
  width: 180px;
}
input[type="radio"] {
  transform: translateX(35px);
}
input[type="file"] {
  transform: translateX(30px);
}
input:hover, .input_file_label:hover {
  cursor: pointer;
}
